.env
*.log

__pycache__/
*.py[cod]
.venv/
venv/
.pytest_cache/

infra/cdk.out/
infra/.cdk.staging/

frontend/build/
frontend/.dart_tool/
frontend/.flutter-plugins-dependencies
frontend/*.iml

node_modules/

.idea/
.DS_Store
